In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import preprocessing
%matplotlib inline

In [9]:
df = pd.read_csv("../Datasets/HBAR-USD.csv")

In [10]:
df.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  2022-01-03  0.312121  0.318868  0.298558  0.306500   0.306500   96846219.0
1  2022-01-04  0.306505  0.336852  0.303840  0.325898   0.325898  252170782.0
2  2022-01-05  0.325748  0.339621  0.272767  0.288261   0.288261  229076508.0
3  2022-01-06  0.288160  0.298847  0.272523  0.294404   0.294404  166279993.0
4  2022-01-07  0.294270  0.298802  0.267786  0.272412   0.272412  188832915.0

In [35]:
def RSI(closing_prices, period):
    # df[f"RSI_{period}"] = []
    for i in range(1, len(closing_prices)):
        output[i] = closing_prices[i] - closing_prices[i - 1]
    for idx,price in enumerate(closing_prices):
        if idx >= period:
            msk_vector = closing_prices[idx - period:idx]
            print(msk_vector)
            pos_msk = msk_vector > 0
            pos_vals = msk_vector[pos_msk]
            neg_vals = msk_vector[~pos_msk]
            pos_mean = np.sum(pos_vals) / period
            neg_mean = np.sum(neg_vals) / period
            rs = pos_mean / neg_mean
            rsi = 100 - (100 / (1 + rs))
            #print(rsi)

In [36]:
RSI(df["Close"],14)

NameError: name 'output' is not defined